@using System.Web.Optimization;
@{
    Layout = null;
}
@model Zefirka.Models.LoginData

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/login.css">
</head>

<body>

    <section class="login" id="login">
        <div class="login-container">
            <div class="login-form active" id="login-form">
                <h2>Login</h2>
                <form method="post">
                    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        @Html.TextBoxFor(LoginData => LoginData.Credential, new { @class = "form-control", placeholder = "Email or Phone", maxlength = "10" })
                        @Html.ValidationMessageFor(LoginData => LoginData.Credential, "", new { @class = "text-danger" })
                        @Html.PasswordFor(LoginData => LoginData.Password, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(LoginData => LoginData.Password, "", new { @class = "text-danger" })
                        <button type="submit" class="btn">Login</button>


                        <div class="register-link">
                            Don't have an account? <a href="@Url.Action("SignIn", "Register")" id="switch-to-register">Register here✅</a>.
                        </div>
               
                    }
                    </form>
                </div>
    </section>

    <!-- Your custom script -->
    <script src="~/Content/js./login.js"></script>
</body>
</html>